<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.znz.zuowen">

    <!--请求访问使用照相设备-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.TabHomeAct"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".ui.login.SplashAct"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.video.VideoDetailAct"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.video.VideoListAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.article.ArticleDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.BindPhoneAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.login.RegisterAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ResetPsdAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.article.ArticleListAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.week.WeekArticleAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.week.WeekDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.CompleteInfoAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.VerifyPhoneAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.UpdatePhoneAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.PayWayAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineClassAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.PaySuccessAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.AgreementAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.week.ArticleUploadAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.vote.ArticleVoteAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.vote.VoteDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.article.ArticleDetailMineAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.UpdatePsdAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.EditValueAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.good.GoodListAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ResetPsdOneAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.week.ArticleUploadAgainAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>